<form name="vm.searchCustomerForm" class="search-form" role="search" ng-submit="vm.searchCustomer(vm.q)" novalidate>
    <div class="input-group">
        <input
          type="text"
          id="search-input"
          placeholder="Telefone, email ou nome"
          autocomplete="off"
          name="search"
          ng-model="vm.q"
          class="form-control">

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="vm.searchCustomerForm.$invalid">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<button class="btn btn-secondary" ng-click="vm.goTo('app.customer')">+ Novo</button>

<table class="table">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Telefones</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" ng-repeat="customer in vm.data" ng-click="vm.open(customer._id)">
      <td>{{ customer.givenName }}</td>
      <td>{{ customer.telephones }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </tbody>
</table>
