<form name="vm.searchCustomerForm" class="search-form" role="search" ng-submit="vm.searchCustomer(vm.q)" novalidate>
    <div class="input-group">
        <input
          type="text"
          id="search-input"
          placeholder="Telefone, email ou nome"
          autocomplete="off"
          name="search"
          ng-model="vm.q"
          class="form-control">

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="vm.searchCustomerForm.$invalid">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<button class="btn btn-secondary" ng-click="vm.open()">+ Novo</button>

<table class="table">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Telefones</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" ng-repeat="customer in vm.data.items" ng-click="vm.open(customer._id)">
      <td>{{ customer.givenName }}</td>
      <td>{{ customer.telephones }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </tbody>
</table>


{{ vm.data._metadata.total }}
{{ vm.data._metadata.size }}
{{ vm.data._metadata.total > vm.data._metadata.size }}

<uib-pagination
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    last-text="&raquo;"
    total-items="{{vm.data._metadata.total}}"
    items-per-page="3"
    ng-model="vm.currentPage"
    max-size="3"
    force-ellipses="true"
    ng-change="vm.goToPage(vm.currentPage)"></uib-pagination>
