<form name="vm.productForm" ng-submit="vm.save(vm.data)">
  <fieldset class="row">
    <legend class="col-md-12 col-sm-12">Pedido</legend>
    <div class="col-md-12 col-sm-12">
      <table class="table" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Produto</th>
            <th width="100">Quantidade</th>
            <th width="50">Valor unitário</th>
            <th width="90">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in vm.data.items">
            <td><label for="item-{{ $index }}">{{ product.name }}</label></td>
            <td>
              <input type="tel"
                id="item-{{ $index }}"
                autocomplete="off"
                ng-model="product.quantity"
                maxlength="2"
                ui-number-mask="0"
                class="form-control" />
            </td>
            <td>{{ product.price | currency }}</td>
            <td>
              <span ng-if="product.quantity">
              {{ (product.total = (product.quantity || 0) * product.price) | currency }}
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Total:</b></td>
            <td>{{ vm.data.items | sum:'quantity' }}</td>
            <td></td>
            <td>{{ vm.data.items | sum:'total' | currency  }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </fieldset>

  <fieldset class="row">
    <legend class="col-md-12 col-sm-12">Brinde</legend>
    <div class="col-md-12 col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Produto</th>
            <th width="100">Quantidade</th>
            <th width="50">Valor unitário</th>
            <th width="50">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in vm.data.gifts | filter:{ gift: true }">
            <td><label for="gift-{{ $index }}">{{ product.name }}</label></td>
            <td>
              <input type="tel"
                id="gift-{{ $index }}"
                autocomplete="off"
                ng-model="product.quantity"
                maxlength="2"
                ui-number-mask="0"
                class="form-control" />
            </td>
            <td>{{ product.price | currency }}</td>
            <td>
              <span ng-if="product.quantity">
              {{ (product.total = (product.quantity || 0) * product.price) | currency }}
              </span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>Total:</b></td>
            <td>{{ vm.data.gifts | sum:'quantity' }}</td>
            <td></td>
            <td>{{ vm.data.gifts | sum:'total' | currency }}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </fieldset>

  <fieldset class="row">
    <div class="col-md-3 col-sm-3 form-group">
      <label>Dia de entrega</label>

      <input type="text" class="form-control"
          uib-datepicker-popup="dd/MM/yyyy"
          ng-model="vm.data.delivery.date"
          is-open="deliveryDate.opened"
          datepicker-options="vm.dateOptions"
          ng-required="true"
          close-text="Fechar"
          show-button-bar="false"
          ng-focus="deliveryDate.opened = true" />
    </div>
    <div class="col-md-3 col-sm-3 form-group">
      <div uib-timepicker
          class="timepicker"
          ng-model="vm.data.delivery.date"
          show-seconds="false"
          meridians="['AM', 'PM']"></div>

    </div>
    <div class="col-md-3 col-sm-3 form-group">
      <label>Taxa de entrega</label>
      <input
          type="tel"
          class="form-control"
          size="50"
          autocomplete="off"
          ng-model="vm.data.delivery.price"
          ng-minlength="3"
          ui-money-mask
          value="5.0"
          max="100"
          maxlength="9">
    </div>
    <div class="col-md-3 col-sm-3 form-group">
      <label>Entregador</label>
      <select class="form-control" ng-model="vm.data.delivery.courier">
          <option value="Eduardo">Eduardo</option>
          <option value="Kleber">Kleber</option>
          <option value="Edson">Edson</option>
          <option value="Carlos">Carlos</option>
          <option value="William">William</option>
          <option value="Juliana">Juliana</option>
      </select>
    </div>
  </fieldset>
  <fieldset class="row">
    <div class="col-md-12">
      <input type="submit"
            ng-disabled="vm.productForm.$invalid"
            class="btn btn-primary"
            value="Salvar" />
    </div>
  </fieldset>
</form>
