.logo {
  padding-top: 15px;
  text-align: center;
  display: block;
}

.sidebar-wrapper {
  float: left;
  width: 200px;
  margin-right: 20px;
  min-height: 100%;
  position: relative;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #722872;
}

.sidebar-nav {
  margin-top: 20px;
}

.sidebar-link {
  display: block;
  font-size: 0.9em;
  padding: 10px 15px;
  color: #fff;
}

.sidebar-link.is-active {
  background-color: rgba(255,255,255,0.3);
}

.sidebar-link:hover {
  color: #fff;
}
