<form name="vm.searchProductForm" class="search-form" role="search" ng-submit="vm.searchAction(vm.q)" novalidate>
    <div class="input-group">
        <input
          type="text"
          id="search-input"
          placeholder="Nome do produto"
          autocomplete="off"
          name="search"
          ng-model="vm.q"
          class="form-control">

        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-disabled="vm.searchProductForm.$invalid">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</form>

<button class="btn btn-secondary" ng-click="vm.open()">+ Novo</button>

<p ng-if="!vm.data.items">Nenhum produto encontrado</p>

<table class="table" ng-if="vm.data.items">
  <thead>
    <tr>
      <td>Nome</td>
      <td>Preço</td>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer" ng-repeat="product in vm.data.items" ng-click="vm.open(product._id)">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </tbody>
</table>


{{ vm.data._metadata.total }}
{{ vm.data._metadata.size }}
{{ vm.data._metadata.total > vm.data._metadata.size }}

<uib-pagination
    previous-text="&lsaquo;"
    next-text="&rsaquo;"
    last-text="&raquo;"
    total-items="{{vm.data._metadata.total}}"
    items-per-page="3"
    ng-model="vm.currentPage"
    max-size="3"
    force-ellipses="true"
    ng-change="vm.goToPage(vm.currentPage)"></uib-pagination>
